/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA LATERAL */
.sidebar {
    width: 150px;
    background-color: #838282;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

/* CONTENIDO PRINCIPAL */
.content {
    margin-left: 150px;
    padding: 40px;
    background-color: #F5EFE7; /* beige claro */
    min-height: 100vh;
    color: #3A3A3A;
    font-family: 'Segoe UI', Arial, sans-serif;
}

/* SECCIÓN DE PRESENTACIÓN (NOMBRE + FOTO) */


.texto-presentacion {
    flex: 1;
}

.foto-perfil {
    width: 180px;
    height: 270px;
    object-fit: cover;
    border-radius: 20%;
    border: 3px solid #C9B8A8;
    margin-left: 20px;
    float: right;
}

/* ENCABEZADOS */
h1 { font-size: 2em; margin-bottom: 5px; }
h2 { font-size: 1.2em; font-weight: 400; margin-bottom: 10px; }
h3 { margin-bottom: 10px; color: #3A3A3A; }

/* SECCIONES */
section {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #E8DCCB;
    border-radius: 10px;
    border: 1px solid #C9B8A8;
}

/* LISTAS */
ul { padding-left: 20px; margin-bottom: 20px; }
li { margin-bottom: 8px; }

/* PROYECTOS */
.proyecto {
    background-color: #F5EFE7;
    padding: 15px;
    border-left: 4px solid #C9B8A8;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.proyecto:hover {
    transform: translateY(-3px);
    background-color: #EDE5DC;
}

/* CONTACTO */
.contacto ul {
    display: flex;
    gap: 20px;
    padding-left: 0;
}

.contacto li {
    list-style: none;
    font-weight: bold;
    color: #3A3A3A;
}
